external_id   = "3254864"
iam_role_name = "GrafanaLabsCloudWatchIntegration"

grafana_stack_id                = "1665320"
grafana_cloud_provider_url      = "https://cloud-provider-api-prod-us-east-3.grafana.net"
grafana_aws_account_resource_id = "270"
rds_cloudwatch_scrape_job_name  = "ensemble-grafana-rds-cloudwatch"

# Grafana's current documented AWS account ID for CloudWatch metrics scrape.
# Override only if the Grafana Cloud AWS account setup page for your stack shows a different value.
grafana_account_id = "008923505280"
