GRAFANA_SERVER=https://orenlion.grafana.net
GRAFANA_STACK_ID=1665320
GRAFANA_CLOUD_STACK=orenlion
GRAFANA_CLOUD_TOKEN=replace-with-grafana-cloud-access-policy-token
GRAFANA_PROVIDER_SYNTH_SM_URL=https://synthetic-monitoring-api-us-east-3.grafana.net
GRAFANA_PROVIDER_SYNTH_SM_TOKEN=replace-with-synthetic-monitoring-access-token
GRAFANA_SM_METRICS_DATASOURCE_UID=orenlion-prom
